<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>
        <em>SuperRentals</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to 'about'}}
        About Us
      {{/link-to}}
      {{#link-to 'contact'}}
        Contact Us
      {{/link-to}}
      {{#link-to 'parser-module.items'}}
        Parser
      {{/link-to}}
    </div>
  </div>
  <div class="boby">
    {{outlet}}
  </div>
</div>