{{outlet}}

<h1>RENTALS</h1>
<!--
{{#each model as |rentalUnit|}}
  {{rental-listing rental=rentalUnit}}
{{/each}}
-->

{{#list-filter filter=(action 'filterByCity') as  |rentals|}}

  <ul class="results">
    {{#each rentals as |rentalUnit|}}
      <li>
        {{rental-listing rental=rentalUnit}}
      </li>
    {{/each}}
  </ul>
{{/list-filter}}

<div>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
  {{#link-to 'contact' class="button"}}
    Contact us
  {{/link-to}}
</div>